<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DefaultConnectionString" value="Data Source=AHMED-TAREK\SQLEXPRESS;Initial Catalog=MVMASTER;User ID=EDCTestUser; Password=123456;Connect Timeout=30;TrustServerCertificate=True;" />
  </appSettings>
</configuration>
